<?xml version="1.0" encoding="UTF-8"?>
<web-app>


	<context-param>
	    <param-name>resteasy.scan</param-name>
	    <param-value>false</param-value>
	</context-param>
	<context-param>
	    <param-name>resteasy.scan.providers</param-name>
	    <param-value>false</param-value>
	</context-param>
	<context-param>
	    <param-name>resteasy.scan.resources</param-name>
	    <param-value>false</param-value>
	</context-param>
    <context-param>
      <param-name>contextClass</param-name>
      <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
   	</context-param>
   	<context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>com.restaurant.spring.SpringConfiguration</param-value>
   	</context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <servlet>
    	<servlet-name>RestuarantApplication</servlet-name>
    	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
      	<init-param>
        	<param-name>javax.ws.rs.Application</param-name>
        	<param-value>com.restaurant.jersey.JerseyApplication</param-value>
    	</init-param>
<!--     	<init-param>
        	<param-name>jersey.config.server.provider.classnames</param-name>
        	<param-value>com.restaurant.controller.OrderController</param-value>
    	</init-param> -->
    	<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
	    <servlet-name>RestuarantApplication</servlet-name>
	    <url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


</web-app>